body {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main {
    text-align: center;
    margin-top: 150px;
}

.right {
    background-color: gold;
}

.board {
    background-color: rgb(158, 154, 154);
    border: solid 2px rgb(1, 1, 51);
    margin: 0 auto;
    cursor: pointer;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(1, 1, 83);
    width: 60px;
    height: 60px;
}

.num {
    border: 1 solid blue;
}

.num {
    font-size: 20px;
    text-align: center;
}

.level {
    left: 10%;
}

#timer {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

button {
    border-radius: 200px;
    outline: none;
    height: 30px;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(129, 129, 204);
}

.Touch-nums {
    margin-top: 30px;
    font-size: 4rem;
}